<div class="container">
  <h1 class="text-xl font-bold mb-4">Ajouter un Équipement</h1>
  <form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="nom" class="block text-sm font-medium text-gray-700">Nom</label>
      <input
        type="text"
        id="nom"
        formControlName="nom"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm"
      />
      <div *ngIf="equipmentForm.get('nom')?.invalid && equipmentForm.get('nom')?.touched" class="text-red-600 text-sm">
        Ce champ est obligatoire.
      </div>
    </div>

    <div class="mb-4">
      <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
      <textarea
        id="description"
        formControlName="description"
        rows="4"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm"
      ></textarea>
      <div *ngIf="equipmentForm.get('description')?.invalid && equipmentForm.get('description')?.touched" class="text-red-600 text-sm">
        Ce champ est obligatoire.
      </div>
    </div>

    <div class="mb-4">
      <label for="icon" class="block text-sm font-medium text-gray-700">Image</label>
      <input
        type="file"
        id="icon"
        (change)="onFileChange($event)"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm"
      />
    </div>

    <div class="flex justify-end">
      <button
        type="submit"
        [disabled]="equipmentForm.invalid"
        class="py-2 px-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700"
      >
        Ajouter
      </button>
    </div>
  </form>
</div>
